.poljeIspravno {
   -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
   -fx-control-inner-background: lightpink;
}

#btnDodaj {
    -fx-graphic: url("/img/list-add.png");
}


#btnObrisi {
    -fx-graphic: url("/img/edit-delete.png");
}

#btnKraj {
    -fx-graphic: url("/img/application-exit.png");
}